$border-radius: (
  "x-small": 5px,
  "small": 10px,
  "large": 25px,
  "huge": 9999px,
);

$colors: (
  "black": #000,
  "white": #fff,
  "primary": #ff6060,
  "light-gray": #f6f6f6,
);

$font-sizes: (
  "XXS": 10px,
  "XS": 12px,
  "small": 13px,
  "medium-small": 14px,
  "medium": 18px,
  "regular": 24px,
  "medium-large": 36px,
  "large": 48px,
  "XL": 96px,
  "XXL": 288px,
);
