.housing-card {
  display: flex;
  position: relative;
  min-height: 340px;
  border-radius: map-get($map: $border-radius, $key: "small");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: map-get($colors, "primary");
  overflow: hidden;
  align-items: end;
  padding: 20px;
  text-decoration: none;
  // img {
  //   position: absolute;
  //   object-fit: cover;
  //   object-position: center;
  //   width: 100%;
  //   height: 100%;
  //   inset: 0;
  //   z-index: -1;
  // }
  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    inset: 0;
  }
  p {
    color: map-get($colors, "white");
    font-weight: bold;
    font-size: 18px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  @media screen and (max-width: 375px) {
    min-height: 250px;
  }
}
